.modal {
  &__wrapper {
    padding: 20px;
    background-color: white;
    position: relative;
    border-radius: 8px;
  }

  &__close {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    width: 15px;
    height: 15px;
  }
}

.modalEditAuction {
  display: flex;
  flex-direction: column;
  row-gap: 10px;

  &__title {
    font-size: 35px;
    font-weight: 700;
  }

  &__inputWrapper {
    display: flex;
    flex-direction: column;
    row-gap: 8px;

    span {
      font-weight: 600;
      font-size: 15px;
    }

    input {
      border-radius: 8px;
      padding: 10px;
      outline: none;
    }

    textarea {
      height: 150px;
      border-radius: 8px;
      padding: 10px;
      outline: none;
      resize: none;
      font-size: 15px;
      border: 2px solid gray;
    }
  }

  &__warning {
    padding: 10px;
    border-radius: 8px;
    border: 2px solid #0101a9;

    span {
      font-weight: 700;
      font-size: 18px;
    }

    p {
      color: gray;
      font-size: 12px;
    }
  }
}

.modalAddAuction {
  display: flex;
  flex-direction: column;
  row-gap: 10px;

  &__title {
    font-size: 35px;
    font-weight: 700;
  }

  &__inputWrapper {
    display: flex;
    flex-direction: column;
    row-gap: 8px;

    span {
      font-weight: 600;
      font-size: 15px;
    }

    input {
      border-radius: 8px;
      padding: 10px;
    }

    textarea {
      height: 150px;
      border-radius: 8px;
      padding: 10px;
      outline: none;
      resize: none;
      font-size: 15px;
      border: 2px solid gray;
    }
  }

  &__create {
    cursor: pointer;
    color: white;
    font-size: 15px;
    background-color: #0255ff;
    max-width: 215px;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
  }

  &__bottom {
    display: flex;
    column-gap: 15px;
  }

  &__addFile {
    display: flex;
    flex-direction: column;

    span {
      font-size: 14px;
      font-weight: 600;
    }

    p {
      cursor: pointer;
      font-size: 12px;
      color: gray;
    }
  }
}

.disable {
  opacity: 0.5;
  pointer-events: none;
}
