.socialItem {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  background-color: #0d8afb;
  width: 30px;
  height: 30px;

  img {
    width: 15px;
    height: 15px;
  }
}
