.footer {
  padding: 50px 0 35px;
  background-color: #2f95f2;
  color: white;
  height: 450px;

  @media (max-width: 1155px) {
    padding: 10px 0;
    height: auto;
  }

  &__wrapper {
    @media (max-width: 1155px) {
      flex-direction: column;
      row-gap: 20px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    justify-content: space-between;
    height: 100%;
    margin-right: 200px;

    @media (max-width: 1155px) {
      margin-right: 0;
      max-width: inherit;
      flex-direction: row;
      width: 100%;
    }

    &Top {
      display: flex;
      flex-direction: column;

      @media (max-width: 1155px) {
        max-width: 500px;
      }

      p {
        font-weight: 700;
        font-size: 20px;
      }

      span {
        cursor: pointer;
        margin: 20px 15px 25px;
      }

      button {
        padding: 10px;
        border-radius: 8px;
        cursor: pointer;
        outline: none;
        border: none;
        max-width: 250px;
        color: white;
        font-weight: 600;
        background-color: #00529d;
      }
    }

    &Bottom {
      display: flex;
      flex-direction: column;
    }
  }

  &__items {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 100%;

    @media (max-width: 630px) {
      flex-wrap: wrap;
      row-gap: 15px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    @media (max-width: 630px) {
      width: 200px;
      height: 201px;
    }

    @media (max-width: 455px) {
      height: auto;
    }

    &Top {
      display: flex;
      flex-direction: column;
      row-gap: 10px;

      a {
        text-decoration: none;
        color: white;
      }
    }

    &Bottom {
      display: flex;
      flex-direction: column;
      row-gap: 10px;
    }
  }
}
