body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
}

html, div, span,
h1, h2, h3, h4, h5, h6, p,
a, table, caption, tbody, tfoot, thead, tr, th, td,
footer, header, menu, nav {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

footer, header, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  display: flex;
  align-items: center;
  max-width: 1300px;
  padding: 0 10px;
  margin: 0 auto;
  height: 100%;
}
